@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

:root {
  --main-bg: #e2e8f0;
  --main-blue: #1992d4;
  --black: #000;
  --grey-60: rgba(0, 0, 0, 0.6);
  --grey-50: rgba(0, 0, 0, 0.5);
  --grey-10: rgba(0, 0, 0, 0.1);
  --main-yellow: #f0b429;
  --white: #fff;

  --main-font: Inter, sans-serif;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* border: 1px solid rgba(255, 114, 114, 0.2); */
}

html {
  font-size: 62.5%;
  font-family: var(--main-font);
}

body {
  min-height: 100vh;
  /* overflow: scroll; */

  background-color: var(--main-bg);
}

/* Wrapper Grid */
.wrapper {
  display: grid;
  grid-template-columns: 300px 1fr;
}

/* Sidebar Styles */

.sidebar {
  grid-column: 1 / 2;
  grid-row: 1 / 2;

  padding: 2.3em;
  background-color: var(--main-blue);
  display: flex;
  flex-direction: column;
  gap: 5em;
}

.dashboard-title {
  font-size: 2.6rem;
  color: var(--white);
  vertical-align: middle;
}

.dashboard-title span {
  font-size: 4.5rem;
  vertical-align: middle;
  margin-right: 1.2rem;
}

ul {
  list-style: none;
}

ul li {
  margin-bottom: 1.2em;
  padding: 1em;
  border-radius: 4px;
  cursor: pointer;
  transition: 100ms;
}

ul li:hover,
ul li:focus {
  background-color: rgba(255, 255, 255, 0.1);
}

ul li:active {
  background-color: rgba(255, 255, 255, 0.2);
}

.sidebar a {
  height: 100%;
  display: block;
  text-decoration: none;
  color: var(--white);
  font-weight: 500;
  font-size: 2rem;
  width: 100%;
}

/* Right Side Styles */

.right-side-main-container {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

/* Header Styles */

.header {
  grid-column: 2 / 3;
  background-color: var(--white);
  padding: 2.3em 5em;

  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 3.6em 3em;
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.2);
}

.search-container {
  display: flex;
  align-items: center;
  gap: 3em;
}

.searchbar {
  display: block;
  font-family: var(--main-font);
  font-size: 1.8rem;
  padding: 0.5em 1em;
  border-radius: 2em;
  border: 1px solid transparent;
  background-color: var(--main-bg);
  width: 100%;
}

.logged-in-user-info {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 3em;
}

.notification-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.header-dp-small {
  max-width: 4.8rem;
  max-height: 4.8rem;
  aspect-ratio: 1/1;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--main-yellow);
}

.header-user-name-small {
  font-size: 1.6rem;
  font-weight: 700;
}

.welcome-user-section {
  display: flex;
  align-items: center;
  gap: 3em;
}

.header-dp-big {
  aspect-ratio: 1/1;
  max-width: 7.5rem;
  min-height: 7.5rem;
  max-height: 7.5rem;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--main-yellow);
}

.hi-there {
  font-size: 1.3rem;
  font-weight: 600;
}

.header-user-name-big {
  font-size: 2.2rem;
  font-weight: 700;
}

.header-btns-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 3em;
}

.header-btn {
  font-family: var(--main-font);
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--white);
  background-color: var(--main-blue);
  padding: 1em 3em;
  border-radius: 2em;
  border: 1px solid var(--main-blue);
  cursor: pointer;
}

.header-btn:hover,
.header-btn:focus {
  outline: 2px dashed rgb(2, 83, 127);
  outline-offset: -2px;
}

.header-btn:active {
  outline: 4px dashed rgb(2, 83, 127);
}

/* MAIN CONTENT STYLES */

/* -- article grid */

.main-container {
  grid-column: 2 / 3;
  padding: 0 3em;
  display: grid;
  grid-template-columns: 3fr minmax(27.6rem, 1fr);
  column-gap: 2.5em;
}

.section-title {
  font-size: 1.9rem;
  font-weight: 600;
  margin-bottom: 0.3em;
}

.article-grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
  column-gap: 2.5em;
}

.article-item {
  background-color: var(--white);
  border-radius: 0.8em;
  border-left: 5px solid var(--main-yellow);
  padding: 2.9em 3em;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  box-shadow: 2px 3px 7px 0px rgba(0, 0, 0, 0.15);
  margin-bottom: 2.5em;
}

.article-title {
  font-size: 1.7rem;
  font-weight: 600;
  margin-bottom: 0.6em;
}

.article-content {
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--grey-60);
  margin-bottom: 2.2em;
}

.article-btns {
  display: flex;
  justify-content: flex-end;
  gap: 3.5em;
}

.article-item .article-btns span {
  cursor: pointer;
}

/* -- inner-aside */

.inner-aside {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}

.announcements-container {
  background-color: var(--white);
  padding: 2.6em;
  border-radius: 0.8em;
  box-shadow: 2px 3px 7px 0px rgba(0, 0, 0, 0.15);
}

.announcement-item:not(:first-of-type) {
  border-top: 2px solid var(--grey-10);
}

.announcement-item {
  padding: 2em;
}

.announcement-title {
  font-size: 1.3rem;
  font-weight: 600;
  margin-bottom: 0.4em;
}

.announcement-content {
  font-size: 1.3rem;
  font-weight: 500;
  color: var(--grey-50);
}

.Trending-articles-container {
  background-color: var(--white);
  padding: 2.6em;
  border-radius: 0.8em;
  box-shadow: 2px 3px 7px 0px rgba(0, 0, 0, 0.15);
}

.trending-item {
  padding: 2em;
  display: flex;
  align-items: center;
  gap: 2.1em;
}

.trending-icon {
  width: 4.8rem;
  height: 4.8rem;
  background-color: #f0b429;
  border-radius: 50%;
}

.trending-handle {
  font-size: 1.3rem;
  font-weight: 500;
  margin-bottom: 0.4em;
}

.trending-details {
  font-size: 1.3rem;
  font-weight: 500;
  color: var(--grey-50);
}
